Development/Version 3.0/BatchSystem/Web References/com.infinishops.tbs/tbsservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadDataFromApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataFromAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDataFromAppResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDataFromAppSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDataFromApp" />
  </wsdl:message>
  <wsdl:message name="UploadDataFromAppSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataFromAppResponse" />
  </wsdl:message>
  <wsdl:portType name="tbsServiceSoap">
    <wsdl:operation name="UploadDataFromApp">
      <wsdl:input message="tns:UploadDataFromAppSoapIn" />
      <wsdl:output message="tns:UploadDataFromAppSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tbsServiceSoap" type="tns:tbsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDataFromApp">
      <soap:operation soapAction="http://tempuri.org/UploadDataFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tbsServiceSoap12" type="tns:tbsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDataFromApp">
      <soap12:operation soapAction="http://tempuri.org/UploadDataFromApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tbsService">
    <wsdl:port name="tbsServiceSoap" binding="tns:tbsServiceSoap">
      <soap:address location="http://tbstest.infinishops.com/tbsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="tbsServiceSoap12" binding="tns:tbsServiceSoap12">
      <soap12:address location="http://tbstest.infinishops.com/tbsservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>