Development/Version 3.0/BatchSystem/Web References/com.infinishops.tbs2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/tbs.infinishops.com/Service1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/tbs.infinishops.com/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/tbs.infinishops.com/Service1">
      <s:element name="UploadDataFromApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataFromAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDataFromAppResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadCodesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSecurityCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadSecurityCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadSecurityCodesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDataFromAppSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDataFromApp" />
  </wsdl:message>
  <wsdl:message name="UploadDataFromAppSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataFromAppResponse" />
  </wsdl:message>
  <wsdl:message name="UploadCodesSoapIn">
    <wsdl:part name="parameters" element="tns:UploadCodes" />
  </wsdl:message>
  <wsdl:message name="UploadCodesSoapOut">
    <wsdl:part name="parameters" element="tns:UploadCodesResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSecurityCodesSoapIn">
    <wsdl:part name="parameters" element="tns:UploadSecurityCodes" />
  </wsdl:message>
  <wsdl:message name="UploadSecurityCodesSoapOut">
    <wsdl:part name="parameters" element="tns:UploadSecurityCodesResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="UploadDataFromApp">
      <wsdl:input message="tns:UploadDataFromAppSoapIn" />
      <wsdl:output message="tns:UploadDataFromAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadCodes">
      <wsdl:input message="tns:UploadCodesSoapIn" />
      <wsdl:output message="tns:UploadCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadSecurityCodes">
      <wsdl:input message="tns:UploadSecurityCodesSoapIn" />
      <wsdl:output message="tns:UploadSecurityCodesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDataFromApp">
      <soap:operation soapAction="http://tempuri.org/tbs.infinishops.com/Service1/UploadDataFromApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCodes">
      <soap:operation soapAction="http://tempuri.org/tbs.infinishops.com/Service1/UploadCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSecurityCodes">
      <soap:operation soapAction="http://tempuri.org/tbs.infinishops.com/Service1/UploadSecurityCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDataFromApp">
      <soap12:operation soapAction="http://tempuri.org/tbs.infinishops.com/Service1/UploadDataFromApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCodes">
      <soap12:operation soapAction="http://tempuri.org/tbs.infinishops.com/Service1/UploadCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSecurityCodes">
      <soap12:operation soapAction="http://tempuri.org/tbs.infinishops.com/Service1/UploadSecurityCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://tbs.infinishops.com/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://tbs.infinishops.com/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>